*.class
*.log
*.tasty 
.bsp
.metals
.scala-build
.vscode
project/metals.sbt
project/project/
project/target/
target/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
